
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{%static 'patient-prof.css' %}">
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2><a href="{% url 'dashboard' %}"><img src="{% static 'logo_pfe_white.png' %}" class="logo"></a></h2>
            <ul>
                <li><a href="{% url 'reports' %}">Report</a></li>
                <li class="ispressed">Patients</li>
                <li><a href="{% url 'statistics' %}">Statistics</a></li>
                <li><a href="{%url 'messages' %}">Message</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header">
                <ul class="dir-link">
                    <li><a href="{% url 'patients' %}">Patients</a> > patN°{{patient.id}}</li>
                    <li><a href="{% url 'profile' request.user.id %}"> {{ request.user.username }} (logged in!)</a><a href="{%url 'logout'%}">log out?</a></li>
                </ul>
            </div>
            <div class="page">
                <div class="pat-info">
                    <div class="inf-1">
                        <img src="image.png" alt="" class="img-pat">
                        <h2 class="pat-name"></h2>
                    </div>
                    <div class="inf-2">
                        <ul class="tabs">
                            <li id="history-tab" class="tab">History</li>
                            <li id="patient-data-tab" class="tab">Patient Data</li>
                        </ul>
                    </div>
                    <div id="patient-data-section" class="section">
                        <ul>
                            {% for radiologist in x.patient.radiologists.all %}
                            {% if user.username == radiologist.username %}
                            <li>Name: {{ patient.firstname }} {{ patient.lastname }}<button class="er" id="fillFormBtn">Add patient</button></li>
                            {% endif %}
                            {% endfor %}

                            <li>ID: {{patient.id}}</li>
                            <li>Age:{{patient.age}}</li>
                            <li>Number of reports: {{patient.num_reports}}</li>
                            <li>Latest report: {{date}}</li>
                            <li>
                                Reports:
                                <ul>
                                    {% for report in reports %}
                                    <li>
                                        Report ID: {{ report.id }}, Radiologist:
                                        {% if report.user and report.user.id %}
                                        <a href="{% url 'profile' report.user.id %}">{{ report.user.username }}</a>
                                        {% else %}
                                        <span>{{ report.user.username }}</span>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <div id="history-section" class="section">
                        <div class="inf-graph" id="plot-container">
                            <script>
                                function handlePointClick(data) {

                                    var pointData = data.points[0];
                                    var xValue = pointData.x;
                                    var yValue = pointData.y;
                                    var label = pointData.text;

                                    window.location.href = '/page?x=' + xValue + '&y=' + yValue + '&label=' + label;
                                }
                            </script>
                            <script>
        var reports = [
        {% for report in reports %}
        { id: {{ report.id }} },
        {% endfor %}
];

        var x_values = {{ x_values|safe }};
        var y_values = {{ y_values|safe }};


        var filtered_y_values = y_values.map(function(entry) {
            return entry.map(function(value) {
                return value === -1 ? null : value;
            });
        });

        var filtered_right_values = filtered_y_values.map(function(entry) { return entry[0]; });
        var filtered_left_values = filtered_y_values.map(function(entry) { return entry[1]; });
        var filtered_both_values = filtered_y_values.map(function(entry) { return entry[2]; });

        var trace_right = {
            x: x_values,
            y: filtered_right_values,
            mode: 'markers',
            marker: {
                size: 10,
                color: 'blue'
            },
            name: 'Right'  
        };

        var trace_left = {
            x: x_values,
            y: filtered_left_values,
            mode: 'markers',
            marker: {
                size: 10,
                color: 'red'
            },
            name: 'Left'  
        };

        var trace_both = {
            x: x_values,
            y: filtered_both_values,
            mode: 'markers',
            marker: {
                size: 10,
                color: 'green'
            },
            name: 'Both' 
        };

        var layout = {
            title: 'Plot',
            xaxis: {
                title: 'Date',
                type: 'date'
            },
            yaxis: {
                title: 'BI-RADS level',
                range: [0, 7]
            }
        };

            Plotly.newPlot('plot-container', [trace_right, trace_left, trace_both], layout).then(function (plot) {
                document.getElementById('plot-container').on('plotly_click', function (data) {
                    var point = data.points[0];
                    var reportId = reports[point.pointNumber].id;
                    window.location.href = '/reports/rdetails/' + reportId; 
                });
            });



                            </script>
                        </div>

                    </div>
                </div>

            </div>
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var historyTab = document.getElementById("history-tab");
        var patientDataTab = document.getElementById("patient-data-tab");
        var historySection = document.getElementById("history-section");
        var patientDataSection = document.getElementById("patient-data-section");

        historySection.style.display = "flex";
        patientDataSection.style.display = "none";

        historyTab.addEventListener("click", function () {
            historySection.style.display = "flex";
            patientDataSection.style.display = "none";
        });

        patientDataTab.addEventListener("click", function () {
            historySection.style.display = "none";
            patientDataSection.style.display = "flex";
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#fillFormBtn').click(function() {
            var firstName = '{{ patient.firstname }}';
            var lastName = '{{ patient.lastname }}';

            var redirectUrl = '/add_report/?firstname=' + encodeURIComponent(firstName) + '&lastname=' + encodeURIComponent(lastName);

            window.location.href = redirectUrl;
        });
    });
</script>
