<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'search.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2><a href="{% url 'dashboard' %}"><img src="{% static 'logo_pfe_white.png' %}" class ="logo"></a></h2>
            <ul>
                <li><a href="{%url 'reports'%}">Reports</a></li>
                <li class="ispressed">Patients</li>
                <li><a href="{%url 'statistics' %}">Statistics</a></li>
                <li><a href="{%url 'messages' %}">Message</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header"> 
                <ul class="dir-link">
                    <li><a id="yay" href="{% url 'patients' %}">Patients</a></li>
                    <li><a href="{% url 'profile' request.user.id %}"> {{ request.user.username }} (logged in!)</a><a href="{%url 'logout'%}">log out?</a></li>
                </ul>
            </div>
            <div class="page">
                <div class="search-filter2">
                    <h1>Search Patients</h1>

                    <form method="get" id="report-search-form">
                        {% csrf_token %}

                        <div class="individual-fields">
                            <label for="firstname">First name:</label>
                            <input type="text" id="firstname" name="firstname">

                            <label for="lastname">Last name:</label>
                            <input type="text" id="lastname" name="lastname">

                            <label for="age">Age:</label>
                            <input type="text" id="age" name="age">

                        </div>
                        <div class="search-button-container">
                            <button type="submit">Search</button>
                        </div>
                    </form>
                </div>

                <h2>Search Results</h2>
                <div class="box">
                    {% for x in patients %}
                    <div class="list">
                        <div class="pat-info">
                            <h2 class="seemore"><a href="{% url 'details' id=x.id%}">see more</a></h2>
                            {% for radiologist in x.patient.radiologists.all %}
                            {% if user.username == radiologist.username %}
                            <p>Patient: {{ x.firstname }} {{ x.lastname }}</p>
                            {% else %}
                            <p>Patient: {{x.id}}</p>
                            {% endif %}
                            {% endfor %}
                            <p>Reports: {{ x.num_reports }}</p>
                            <p>Patient number:{{x.id}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>