<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'patient.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>Radiology Report Platform</h2>
            <ul>
                <li><a href="{% url 'reports' %}">Report</a></li>
                <li class="ispressed">Patient</li>
                <li><a href="#">Statistics</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header">
                <ul class="dir-link">
                    <li><a href="#">Patients</a></li>
                </ul>
                <img src="image.png" alt="" class="prf-pic">
            </div>
            <div class="page">
                <div class="box">
                    <div class="table-container">
                        <div class="top-section">
                            <div class="column">
                                <a href="{% url 'patients' %}" class="btn">Your Patients</a>
                            </div>
                            <div class="column">
                                <a href="{% url 'all_patients' %}" class="ispressed">Other Patients</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-button">
                        <a href="{% url 'patient_search' %}" class="btn">Search patients!</a>
                    </div>
                    {% for x in patients_with_reports %}
                    <div class="list">
                        <div class="pat-info">
                            <h2 class="seemore"><a href="details/{{x.id}}">see more</a></h2>
                            <h2>Patient number:{{x.id}}</h2>
                            <p>Reports: {{ x.num_reports }}</p>
                            <p>Patient age:{{x.age}}</p>
                            
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</body>
</html>