<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'test.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2><a href="{% url 'dashboard' %}">Radiology Report Platform</a></h2>
            <ul>
                <li class="ispressed">Reports</li>
                <li><a href="{% url 'patients' %}">Patients</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="{%url 'messages' %}">Message</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header">
                <ul class="dir-link">
                    <li><a href="{% url 'reports' %}">Reports</a></li>
                    <li><a href="{% url 'profile' request.user.id %}"> {{ request.user.username }} (logged in!)</a><a href="{%url 'logout'%}">log out?</a></li>
                </ul>
                <img src="image.png" alt="" class="prf-pic">
            </div>
            <div class="page">
                <div class="profile">
                    <!-- sq1 -->
                    <div class="sq1">
                        <img src="{%static 'image.png'%}" alt="" class="prf-pic">
                        <table>
                            <tr>
                                <th>Username:</th>
                                <th>&nbsp;&nbsp;{{ user.username }}</th>
                            </tr>
                            <tr>
                                <th>First Name:</th>
                                <th>&nbsp;&nbsp;{{ user.first_name }}</th>
                            </tr>
                            <tr>
                                <th>Last Name:</th>
                                <th>&nbsp;&nbsp;{{ user.last_name }}</th>
                            </tr>
                        </table>
                    </div>
                    <!-- sq2 -->
                    <div class="flex2">
                        <div class="sq2">
                            <table>
                                <tr>
                                    <th>Role:</th>
                                    <th>&nbsp;&nbsp;{{ user.role }}</th>
                                </tr>
                                <tr>
                                    <th>Last Login:</th>
                                    <th>&nbsp;&nbsp;{{ user.last_login }}</th>
                                </tr>
                            </table>
                        </div>
                        <!-- sq3 -->
                        <div class="sq3">
                            <a href="{% url 'send_message' %}?receiver={{ user.username }}" class="btn">Send Message</a>
                            {% if user.role == 'Radiologist' %}
                            <a href="{% url 'all_reports' %}?radiologist={{ user.username }}" class="btn">View Radiologist's Reports</a>
                            <a href="{% url 'all_patients' %}?radiologist={{ user.username }}" class="btn">View Radiologist's Patients</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
