<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'reports2.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2><a href="{% url 'dashboard' %}">Radiology Report Platform</a></h2>
            <ul>
                <li class="ispressed">Reports</li>
                <li><a href="{% url 'patients' %}">Patients</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="{%url 'messages' %}">Message</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header">
                <ul class="dir-link">
                    <li><a href="#">Reports</a></li>
                    <li><a href="{% url 'profile' request.user.id %}"> {{ request.user.username }} (logged in!)</a><a href="{%url 'logout'%}">log out?</a></li>
                </ul>
            </div>
            <div class="page">

                <div class="box">
                    <div class="table-container">
                        <div class="top-section">
                            <div class="column">
                                <a href="{% url 'reports' %}" class="btn">Your Reports</a>
                            </div>
                            <div class="column">
                                <a href="{% url 'all_reports' %}" class="ispressed">Other Reports</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-button">
                        <a href="{% url 'report_search' %}" class="btn">Search Reports</a>
                    </div>
                    {% for x in report %}
                    <div class="list" id="report-">
                        <div class="pat-info">
                            <h2 class="seemore"><a href="rdetails/{{x.id}}">see more</a></h2>
                            <h4>Report Nb: {{x.id}}</h4>
                            <p>Type: {{ x.type }}</p>
                            {% for radiologist in x.patient.radiologists.all %}
                            {% if user.username == radiologist.username %}
                            <p>Patient: {{ x.patient.firstname }} {{ x.patient.lastname }}</p>
                            {% endif %}
                            {% endfor %}
                            <p>Patient age:{{x.patient.age}}</p>
                            <p class="radiologist-username">Radiologist:{{x.user.firstname}} {{x.user.lastname}}, username:{{x.user.username}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="sidefilter">
                    <ul>
                        <li><button onclick="filterReports('')">All</button></li>
                        {% for radiologist in radiologists %}
                        <li><button onclick="filterReports('{{ radiologist.username }}')">{{ radiologist.username }}</button></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };

        function filterReports(radiologistUsername) {
            const relatedReports = document.querySelectorAll(`[id^="report-"]`);
            relatedReports.forEach(report => {
                const radiologistParagraph = report.querySelector('.radiologist-username');
                if (radiologistParagraph && radiologistParagraph.textContent.includes(radiologistUsername)) {
                    report.style.display = 'block';
                } else {
                    report.style.display = 'none';
                }
            });
        }


        const radiologistUsernameParam = getUrlParameter('radiologist');
        if (radiologistUsernameParam) {
            filterReports(radiologistUsernameParam);
        }
    </script>


</body>
</html>